@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cormorant+Garamond:wght@300&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Anton', sans-serif;
    --fonte3: 'Cormorant Garamond', serif;
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
}
header > p {
    padding-bottom: 50px;
    font-size: 20px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}
.button{
    color: white;
    padding-left: 30px;
    padding-bottom: 2vh;
    padding-top: 2vh;
    background-color: black;
}
#cordel{
    padding-right: 5vh;
}
#filmes{
    padding-left: 5vh;
}
section{
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 40px;
    font-size: 3.5vh;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(59, 58, 58);
    color: white;
    font-family: var(--fonte3);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.521);

    /* EFEITO PARALLAX */
    background-attachment: fixed; 
}
section.imagem > p {
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.849);
    display: inline-block;
}
section > p {
    padding-bottom: 2em;
}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}
footer{
    background-color: black;
    color: white;
    padding-top: 3vh;
}
#linkedin{
    padding-right: 5vh;
}
#github{
    padding-left: 5vh;
}
footer > p {
    font-family: var(--fonte1);
    text-align: center;
    padding: 10px;
    font-variant: small-caps;
    font-size: 14px;
}
button{
    background: #069cc2;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 16px;
}